<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-9 col-sm-10">
      <ul class="nav nav-pills nav-fill tabs">
        <li class="nav-item border border-end-0">
          <a class="tab-link tab-active" aria-current="page" routerLink="tasks">Tasks</a>
        </li>
        <li class="nav-item border border-end-0">
          <a class="tab-link">Schedules</a>
        </li>
        <li class="nav-item border border-end-0">
          <a class="tab-link last">Failed SubTasks</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 offset-md-1 offset-lg-5">
      <div class="filters h-100 d-flex">
        <button class="bg-plus text-white py-1"><i class="fa-solid fa-plus fa-2x"></i></button>
        <button class="btn"><i class="fa-solid fa-filter fa-lg"></i></button>
      </div>
    </div>
  </div>
</div>
