/* You can add global styles to this file, and also import other style files */
:root{
  --dark-aqua-14: rgba(4, 106, 114, 0.14);
  --bg-tab: #00afd8;
  --running-status: #0090ff;
  --finished-status: #12bb12;
  --queued-status: #808080;
  --new-status: #00afd8;
  --chbx-bg: #c5c5c5;
  --text-70: #070707;
  --outer-border: 1px solid #858585 !important;
  --red-color: #f57277;
  --gray-border: #ccc;
}

/********************** Global ****************************/
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem !important;
}

.container-custom{
  width: 95%;
  margin: auto;
}

.bg-profile{
  background-color: var(--dark-aqua-14);
}

.text-70{
  color: var(--text-70);
}

.outer-border{
  border: var(--outer-border);
}

.outer-border-shadow{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
}

.gray-border-80{
  border: 1px solid var(--gray-border);
}

.disable {
  pointer-events: none;
  cursor: default;
}

.cursor-pointer{
  cursor: pointer;
}
/**********************************************************/

/********************** Custom Fonts **********************/
@mixin fontSize($size){
  font-size: $size;
}
.fs-sm{
  @include fontSize(10px);
}

.fs-md{
  @include fontSize(12px);
}
/***********************************************************/

/********************** Custom Checkbox ********************/
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
   // vertical-align: text-top;
    width: 15px;
    height: 15px;
    background-color: var(--chbx-bg);
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    //background: #f35429;
    background-color: var(--running-status);
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.centered {
  width: 300px;
  margin: auto;
}
/***********************************************************/

/********************** Status Classes *********************/
@mixin status-color($color){
  color: $color;
}
.running-status{
  @include status-color(var(--running-status));
}

.finished-status{
  @include status-color(var(--finished-status));
}

.queued-status{
  @include status-color(var(--queued-status));
}

.new-status{
  @include status-color(var(--new-status));
}
/***********************************************************/

/********************** Progress Bar ***********************/
@mixin progress-border($color){
  border: 1px solid $color;
}

@mixin progress-bg($color){
  background-color: $color;
}

.progress-container {
  height: 12.5px;
  background-color: #eee;
}

.progress-done {
  height: 100%;
}

.progress-container{
  &.task-border-green{
    @include progress-border(var(--finished-status));
  }

}

.progress-container{
  &.task-border-blue{
    @include progress-border(var(--running-status));
  }
}

.progress-container{
  &.task-border-red{
    @include progress-border(var(--red-color));
  }
}

.progress-done{
  &.task-green{
    @include progress-bg(var(--finished-status));
  }

}

.progress-done{
  &.task-blue{
    @include progress-bg(var(--running-status));
  }
}

.progress-done{
  &.task-red{
    @include progress-bg(var(--red-color));
  }
}
/***********************************************************/

/********************** Notifications **********************/
.notification{
  position: relative;
  color: #c5c5c5;
  .notification-badge{
    position: absolute;
    top: -170%;
    left: 45%;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
  }
}
/***********************************************************/

